body, html
{
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
}

#authBody
{
    background: #09bbc6;
}

#myContent
{
    height: 100vh;
}

#authDiv
{
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40% 0 0 40%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}

label
{
    color: #09bbc6;
}

#splash
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logoDiv
{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
    padding: 10%;
    text-align: center;
    color: #f58020;
}

#logoDiv:hover
{
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.6);
}

#icon
{
    color: #f58020;
}

#authForm
{
    width: 60%;
    margin: 10%;
    padding: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#logInButton
{
    background-color: #f58020;
    color: white;
    width: 25%;
    margin-top: 2%;
}

#logInButton:hover
{

    background-color: white;
    color: #f58020;
    border: 1px solid #f58020;
}




/*-------------------------------Dashboard-----------------------------------------*/

#myNav
{
    background-color: #09bbc6;
    color: white;
    padding: 1%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
}

#dashboardBody, #usersBody
{
    background-color: white;
}

#myContentDashboard
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconsDashboard
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons
{
    padding: 5%;
    border-radius: 50%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.icons:hover
{
    border: 1px solid #f58020;
    padding: 5%;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.50);
    cursor: pointer;
}


/*------------------------------------Users Page ------------------------------------*/


#contentUserBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#controlsHead
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5%;
    color: #006699;
}
hr
{
    background-color: black;
    width: 90%;
}
#usersList
{
    width: 80%;
    margin-top: 1%;
}

.userItemDetails
{
    padding: 1%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 1%;
}

.userItem
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #09bbc6;
}

#userFullDetails
{
    display: none;
    padding: 1%;
    background-color: #e5eecc;
    margin-top: 1%;
}

#newUserCreationDiv
{
    display: none;
    width: 60%;
    z-index: 1;
    position: fixed;
    top: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    background-color: white;
}

#hr-usercreationdiv
{
    width: 100%;
}

#createUserTitle
{
    color: #006699;
}

#closeUserCreation
{
    color: red;
    cursor: pointer;
}
#controlsHeadUserCreation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5%;
    color: #006699;
}