body, html
{
    max-width: 100%;
    overflow-x: hidden;
}

#authBody
{
    background: #09bbc6;
}

#myContent
{
    height: 100vh;
}

#authDiv
{
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40% 0 0 40%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}

label
{
    color: #09bbc6;
}

#splash
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logoDiv
{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
    padding: 10%;
    text-align: center;
    color: #f58020;
}

#logoDiv:hover
{
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.6);
}

#icon
{
    color: #f58020;
}

#authForm
{
    width: 60%;
    margin: 10%;
    padding: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#logInButton
{
    background-color: #f58020;
    color: white;
    width: 25%;
    margin-top: 2%;
}

#logInButton:hover
{

    background-color: white;
    color: #f58020;
    border: 1px solid #f58020;
}




/*-------------------------------Dashboard-----------------------------------------*/

#myNav
{
    background-color: #09bbc6;
    color: white;
    padding: 1%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
}

#dashboardBody, #usersBody, #parkingBody
{
    background-color: white;
}

#myContentDashboard
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconsDashboard
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#icon1, #icon2, #icon3
{
    padding: 5%;
    border-radius: 50%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#icon1:hover, #icon2:hover, #icon3:hover
{
    padding: 5%;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.50);
    cursor: pointer;
}


/*------------------------------------Users Page ------------------------------------*/


#contentUserBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#controlsHead
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5%;
    color: #006699;
}
hr
{
    background-color: black;
    width: 90%;
}
#usersList
{
    width: 80%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



.fm
{
    margin-bottom: 1%;
    width: 70%;
}

.userItemDetails
{
    padding: 1%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 1%;
}

.userItem
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #09bbc6;
}

#resetField
{
    display: none;
    margin-bottom: 1%;
}

#checkUser
{
    margin-bottom: 1%;
}

#paswwordField
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#passwordUser
{
    width: 50%;
}

#userFullDetails
{
    display: none;
    padding: 1%;
    background-color: #e5eecc;
    margin-top: 1%;
}

#newUserCreationDiv
{
    display: none;
    width: 60%;
    z-index: 1;
    position: fixed;
    top: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    background-color: white;
}

#userDetailsDisplay
{
    width: 80%;
    margin: 4%;
    padding: 2%;
    background-color: #e5eecc;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px 0 10px 0;
    display: none;
}

.details
{
    margin-top: 1%;
    margin-bottom: 1%;
}

#hr-usercreationdiv
{
    width: 100%;
}

#createUserTitle
{
    color: #006699;
}

#closeUserCreation
{
    color: red;
    cursor: pointer;
}
#controlsHeadUserCreation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5%;
    color: #006699;
}

/*---------------------------------------Parking Lot---------------------------------*/

#myContentParking
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#parkingLayout
{
    width: 80%;
}

.card
{
    text-align: center;
    width: 60%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid;
}

.card:hover
{
    text-align: center;
    width: 60%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.parking-hr
{
    width: 100%;
}
.card-body
{
    padding: 5%;
}
.card-img-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slotNumber
{
    font-size: 400%;
    text-align: center;
    height: 100%;
}

.layItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.layRow
{
    margin-top: 2%;
    margin-bottom: 2%;
}

#time_items
{
    display: flex;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
    padding: 10px;
}

.item_parking
{
    border: 1px solid cornflowerblue;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.item_data
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#slotDetails
{
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 20%;
    z-index: 3;
    padding: 20px;
    display: none;
}


#slot_details_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}